{% extends 'auctions/layout.html' %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <div style="width: 50%; margin-left: auto; margin-right: auto;">
        {% if message %}
            <div class='message'><h2>{{ message }}</h2></div>
        {% endif %}
        
        <h1>Create Listing</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <div><input type="submit" name="submit" id="submit_id" value="Publish Listing"></div>
        </form>
    </div>

{% endblock %}