{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 style="margin-bottom: 20px;">Following</h1>

    {% if message %}
        <div id='message' class="alert alert-danger">{{ message }}</div>
    {% endif %}

    {% if info %}
        <div id='info' class="alert alert-primary" style="text-align: center;"><h2>{{ info }}</h2></div>
    {% endif %}

    <div id="posts_view" class="post_view">
        {% if posts %}
            {% for post in posts %}
                <div class="post_area">
                    <p><h4><a href="/user/{{ post.author.pk }}" style='color:black'>{{ post.author.username }}</a></h4></p>
                    {% if user.is_authenticated and user.pk == post.author.pk %}
                        <button type="button" class="btn btn-link" style="padding: 0%;">Edit</button>
                    {% endif %}
                    <div class="lh-sm">{{ post.text }}</div>
                    <div class="grey">{{ post.timestamp }}</div>
                    <div class="grey"><img src="{% static 'network/empty_hart.png' %}" alt="like" width="18px" style="margin-right: 3px;">{{ post.likes }}</div> 
                    <div class="grey">Comment</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <nav aria-label="Page navigation example" style="margin: 10px; text-align: center; margin-left: 45%;">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#" name="page">{{ posts.number }}</a></li>

            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>

    <script src="{% static 'network/index.js' %}" type="text/babel"></script>
{% endblock %}