body {
    padding: 10px;
}

#message {
    width: 100%; 
    text-align: center; 
    margin-top: auto; 
    margin-bottom: auto; 
    background-color: rgba(255, 179, 179, 0.3); 
    color: #ff0000;
}